# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Binary_Stars/EqualFluxBinary_HighSNRCubeOfImages.fits
Binary_Stars/EqualFluxBinary_HighSNRCubeOfImagesSmall.fits
Binary_Stars/EqualFluxBinary_LowSNRCubeOfImages.fits
Binary_Stars/EqualFluxBinary_LowSNRCubeOfImagesSmall.fits
Binary_Stars/HighContrastBinaryLargeSeparation_CubeOfImages.fits
Binary_Stars/HighContrastBinaryLargeSeparation_CubeOfImagesSmall.fits
Binary_Stars/HighContrastBinaryShortSeparation_CubeOfImages.fits
Binary_Stars/HighContrastBinaryShortSeparation_CubeOfImagesSmall.fits
Binary_Stars/LowContrastBinaryShortSeparation_CubeOfImages.fits
Binary_Stars/LowContrastBinaryShortSeparation_CubeOfImagesSmall.fits
Binary_Stars/MediumContrastBinaryShortSeparation_CubeOfImages.fits
Binary_Stars/MediumContrastBinaryShortSeparation_CubeOfImagesSmall.fits
Binary_Stars/ressources-Class-12.zip
Binary_Stars/ImageOfBinaryStar-Solution-part-1-2-3_files/MathJax.js
Binary_Stars/ImageOfBinaryStar-Solution-part-1-2-3_files/require.min.js
Lec7_Transmission_spectra/11.png
Lec7_Transmission_spectra/22.png
Lec7_Transmission_spectra/allart_2018_suppl.pdf
Lec7_Transmission_spectra/allart_2018.pdf
Lec7_Transmission_spectra/transmission_spectro.zip
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_42.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_10.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_50.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_44.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_23.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_28.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_43.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_45.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_19.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_47.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_18.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_17.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_35.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_14.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_13.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_15.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_16.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_9.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_4.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_24.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_12.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_22.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_34.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_7.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_8.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_46.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_37.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_31.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_11.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_29.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_27.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_33.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_21.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_49.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_1.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_40.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_41.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_25.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_39.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_26.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_5.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_30.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_20.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_3.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_38.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_2.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_36.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_48.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_32.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_6.rdb
Lec7_Transmission_spectra/data/HAT-P-11b_2017-08-12_0.rdb